<div class="loginMain">
    <!--  Open Navbar-->
    <!-- <nav class="navbar ">
        <a class="navbar-brand" routerLink="/homepage">QUIZZ</a>
    </nav> -->
    <!--  Close Navbar-->


    <section id="login-form">
        <div class="login-icon">
            <!--      <img src="./assets/Images/free-user-login-icon-305-thumb.png" alt="login">-->
            <i class="fas fa-user"></i>
        </div>
        <div class="card fadeIn">
            <form class="text-center border border-light p-5" #form="ngForm">
                <flash-messages></flash-messages>
                <!-- Email -->
                <div class="form-group">

                    <i class="fas fa-envelope"></i>
                    <input type="text" class="form-control" id="email" placeholder="Email" name="email" [(ngModel)]="loginCl.email">
                </div>
                <!-- Password -->
                <div class="form-group">
                    <i class="fas fa-lock"></i>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password" [(ngModel)]="loginCl.password">
                </div>
                <div class="d-flex justify-content-around">
                    <div>
                        <!-- Remember me -->
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                            <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                        </div>
                    </div>
                    <div>
                        <!-- Forgot password -->
                        <a href="">Forgot password?</a>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn" type="submit" (click)="onLogin()">Login</button>
                </div>
                <!-- Register -->
                <div class="form-group">
                    <p class="register-link">Not a member?
                        <a routerLink="/signup">Register</a>
                    </p>
                </div>
            </form>
        </div>
    </section>
</div>