<div class="container" id="dashboard">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./assets/Images/python.jpeg" alt="Card image cap" style="opacity: 0.5; height: 200px;">
                <div class="card-body">
                    <h5 class="card-title"><a href="#" class="btn btn-warning">Begin Test</a></h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./assets/Images/android.png" alt="Card image cap" style="opacity: 0.5;height: 200px; ">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-warning">Begin Test</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./assets/Images/django.png" alt="Card image cap" style="opacity: 0.5; height: 200px;">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-warning">Begin Test</a>
                </div>
            </div>
        </div>
    </div><br><br>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./assets/Images/flask.png" alt="Card image cap" style="opacity: 0.5; height: 200px;">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-warning">Begin Test</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./assets/Images/html.png" alt="Card image cap" style="opacity: 0.5; height: 200px;">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-warning">Begin Test</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./assets/Images/java.png" alt="Card image cap" style="opacity: 0.5; height: 200px;">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-warning">Begin Test</a>
                </div>
            </div>
        </div>
    </div>
</div>