#hero {
  float: right;
  height: 100px;
  top: 234px;
}


#hero .hero-container {
  position: absolute;
  float: right;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#hero h3 {
  color: rgb(26, 25, 25);
  padding: 10px 30px;
  margin-top: auto;
  margin-bottom: 30px;
  border-radius: 50px;

}

#hero p {
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: 150px;
  line-height: 56px;
  color: rgb(26, 25, 25);
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px 9px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #111111;
  background: #eb971a;
  text-decoration: none;
}


#hero .btn-log-in {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px 9px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #111111;
  background: #9dac16;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h3 {
    font-size: 22px;
  }
  #hero p {
    font-size: 28px;
    line-height: 36px;
  }
}

#img {
  object-position: 20% 10px;
  margin-bottom: -500px;
}
