<div class="row">

    <div class="column cropped" id="img" class="col-md-6">
        <img src="./assets/Images/back.jpg" alt="" width="100%">
    </div>
    <section id="hero" style="float: right;" class="col-md-6">
        <div class="hero-container">

            <h3>Welcome to <strong style="text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">Quizz App</strong></h3>
            <p>Test Your Cognitive Skills</p>
            <!-- added the router link  Guyo -->
            <a routerLink="login" class="btn-log-in ">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a routerLink="signup" class="btn-get-started ">Sign Up</a>
        </div>

    </section>
</div>

