<div class="RegisterMain">
    <!--  Open Navbar-->
    <!-- <nav class="navbar ">
        <a class="navbar-brand" routerLink="/homepage">QUIZZ</a>
    </nav> -->
    <!--  Close Navbar-->
    <div class="row" style="max-width: 520px; margin: 0 auto;">
        <form class="col s12" [formGroup]='signupForm' (ngSubmit)='onSubmit()'>
            <flash-messages></flash-messages>
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate" formControlName="first_name">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate" formControlName="last_name">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" type="text" class="validate" formControlName="username">
                    <label for="last_name">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="password" type="password" class="validate" formControlName="password">
                    <label for="password">Password</label>
                </div>
                <div class="input-field col s6">
                    <input id="password" type="password" class="validate" formControlName="cpassword">
                    <label for="password">Repeat Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" formControlName="email">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="form-group">
                <button class="btn" type="submit">SignUp</button>
            </div>
            <div class="form-group">
                <p class="login-link">Already a member?
                    <a routerLink="/login">Login</a>
                </p>
            </div>
        </form>
    </div>

</div>