<div class="container">

    <div class="row" *ngFor="let quiz of quizService.quiz">
        <div class="col s8 offset-s2 ">
            <!-- <span>Time Elapsed : {{quizService.displayTimeElapsed()}}</span> -->
            <div class="card  " style="background-color: #1C7C54;">
                <div class="card-content white-text ">
                    <span class="card-title ">{{quiz.questions[quizService.qnProgress].content}}</span>
                </div>

                <div class="card-action ">
                    <ul class="collection answer ">
                        <ng-container *ngFor="let answer of quiz.questions[quizService.qnProgress].answers;let i=index ">
                            <li class="collection-item " (click)="Answer(quiz.questions[quizService.qnProgress].id, answer) " style="cursor: pointer;">
                                {{ answer }}
                            </li>
                        </ng-container>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</div>