
.loginMain {
    /* position: relative; */
    background: #FFFFFF;
}

.navbar-brand {
    position: absolute;
    width: 381px;
    left: 111px;
    top: 1.86%;
    bottom: 90.43%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-icon {
    position: absolute;
    left: 522px;
    top: 141px;
    overflow: auto;
}

.login-icon img {
    width: 150px;
    height: 150px;
}

.card {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 359px;
    top: 265px;
    background: #E5E5E5;
}

.form-group {
    /* width: 400px;
    height: 100px; */
    margin-left: 50px;
    padding-top: 60px;
}

.btn {
    /* position: absolute; */
    width: 120px;
    height: 59px;
    left: 183px;
    top: 256px;
    background: #1DF84D;
    border-radius: 20px;
    font-family: Mako;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 47px;
}

.register-link {
    margin-top: -75px;
    padding-left: 110px;
}

.d-flex {
    padding-top: 20px;
}
