<div class="container">
    <!-- <h2>Get your skills certified</h2>
    <div class="row">
        <div class="col-md-4"><br>
            <div class="panel panel-default"><br>
                <div class="ml-4">
                    <h6 class="text-muted">Challenge</h6>
                    <h2 class="main">1) &nbsp;<strong>What is python?</strong>
                    </h2>
                    <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;A. Interpreted programming language with dynamic semantics. <br> <br>
                    <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;B. Object-oriented programming language with dynamic semantics. <br><br>

                    <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;C. Interpreted, object-oriented, high-level programming language with dynamic semantics. <br><br>
                    <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;D. All of the above. <br><br>
                    <div class="d-flex card-menu">
                        <a routerLink="/quiz" class="btn btn-outline-success btn-md">Next
                        </a>
                    </div>
                </div><br>
            </div>
        </div>
    </div> -->
    <!-- <div class="row" *ngIf="quizService.questions">
        <div class=" col s8 offset-s2 ">
            <div>
                <span>{{quizService.attempt+1}}</span>
                <p>{{quizService.questions[quizService.attempt].questions}}</p>
            </div>
        </div>

    </div> -->

</div>