<div class="container">
    <div class="row" *ngFor="let quiz of quizService.quiz">
        <div class="col s8 offset-s2 ">
            <!-- <span>Time Elapsed : {{quizService.displayTimeElapsed()}}</span> -->
            <div class="card  " style="background-color: #1C7C54;">
                <div class="card-content white-text ">
                    <span class="card-title ">{{quiz.questions[quizService.qnProgress].content}}</span>
                </div>

                <div class="card-action ">
                    <ul class="collection answer ">
                        <ng-container *ngFor="let answer of quiz.questions[quizService.qnProgress].answers;let i=index ">
                            <li class="collection-item " (click)="Answer(quiz.questions[quizService.qnProgress].id, answer) " style="cursor: pointer;">
                                {{ answer }}
                            </li>
                        </ng-container>
                    </ul>
                </div>

    <h2>Get your skills certified</h2>
    <div class="row">
        <div class="col-md-4"><br>
            <div class="panel panel-default"><br>
                <div class="ml-4">
                    <h6 class="text-muted">Challenge</h6>
                    <h2 class="main">1) &nbsp;<strong>What is python?</strong>
                    </h2>
                    <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;A. Interpreted programming language with dynamic
                    semantics. <br> <br>
                    <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;B. Object-oriented programming language with dynamic
                    semantics. <br><br>

                    <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;C. Interpreted, object-oriented, high-level programming
                    language with dynamic semantics. <br><br>
                    <input type="radio">&nbsp;&nbsp;&nbsp;&nbsp;D. All of the above. <br><br>
                    <div class="d-flex card-menu">
                        <a routerLink="/quiz" class="btn btn-outline-success btn-md">Next
                        </a>
                    </div>

                </div><br>

            </div>
        </div>
        <div class="col-md-6">
            <app-answers></app-answers>
        </div>
    </div>
</div>