<div class="row">
    <div class="column cropped" id="img">
        <img src="./assets/Images/back.jpg" alt="">
    </div>
    <section id="hero" style="float: right;" class="col-md-6">
        <div class="hero-container">

            <h3>Welcome to <strong>Quizz App</strong></h3>
            <p>Test Your Cognitive Skills</p>
            <a href="#" class="btn-log-in ">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" class="btn-get-started ">Sign Up</a>
        </div>

    </section>
</div>